  header {
	
}

.appNameSection {
	padding-bottom: 40px;
}

.picticiousPro {
	font-family: Roboto;
	font-weight: bold;
	font-size: 30px;
	line-height: 1;
	color: #2B3F4C;
}

.picticiousPro:before {
	background: url(../images/icon_sprite.png) no-repeat;
	content: '';
	display: block;
	float: left;
	height: 60px;
	width: 60px;
	margin: 0 20px 0 0;
	overflow: hidden;
	padding-left: 20px;
}
	
#pro {
	font-weight: lighter;
}

.niceShotSection {
	background: url(../images/intro_bg.jpg) no-repeat center top;
	padding-bottom: 100px;
	background-color: #E77E04;

}

.niceShotSection .row {
	position: relative;
}

.niceShotTitle {
	font-family: Roboto Condensed;
	font-size: 70px;
	font-weight: lighter;
	line-height: 1;
	color: #ffffff;
	margin-bottom: 20px;
}

.niceShotText {
	display: block;
	font-family: Roboto;
	font-size: 20px;
	line-height: 1.5;
	color: #ffffff;
	padding-bottom: 40px;
	padding-right: 40px;
	position: relative;
}



.downloadNowButton {
	font-family: Roboto;
	font-size: 20px;
	color: #E77E04;
	background-color: #ffffff;
	width: 200px;
	height: 50px;
	border: none;
	border-radius: 5px;
	line-height: 48px;
	display: block;

}

.tagItAllSection, .cloudSyncSection, .photoMapSection {
	display: block;

}

.tagItAllTitle {
	font-family: Roboto Condensed;
	font-weight: lighter;
	font-size: 26px;
	color: #E77E04;
}

.tagItAllText {
	font-family: Roboto;
	font-size: 16px;
	line-height: 1.5;
	color: #777777;
}

.cloudSyncTitle {
	font-family: Roboto Condensed;
	font-weight: lighter;
	font-size: 26px;
	color: #E77E04;
}

.cloudSynchText {
	font-family: Roboto;
	font-size: 16px;
	line-height: 1.5;
	color: #777777;
}

.photoMapTitle {
	font-family: Roboto Condensed;
	font-weight: lighter;
	font-size: 26px;
	color: #E77E04;
}

.photoMapText {
	font-family: Roboto;
	font-size: 16px;
	line-height: 1.5;
	color: #777777;
}

.captureLifeSection {
	background-color: #E6E6E6;
	margin-top: 20px;
	margin-bottom: 20px;
	padding-top: 20px;
	padding-bottom: 60px;
}

.captureLifeTitle {
	font-family: Roboto Condensed;
	font-weight: lighter;
	font-size: 36px;
	line-height: 1;
	color: #2B3F4C;
}

.captureLifeText {
	font-family: Roboto;
	font-size: 16px;
	line-height: 1.5;
	color: #777777;
}

.downloadNowTitle {
	font-style: Roboto Condensed;
	font-weight: lighter;
	font-size: 42px;
	line-height: 1px;
	color: #E77E04;
}

.downloadNowText {
	font-style: Roboto;
	font-size: 18px;
	line-height: 1.5;
	color: #777777;
}

.supportTitle {
	font-family: Roboto;
	font-size: 16px;
	line-height: 1.5;
	color: #2B3F4C;
}

.privacyTerms {
	font-family: Roboto;
	font-size: 16px;
	line-height: 1.5;
	color: #777777;
}

.copyright {
	font-family: Roboto;
	font-size: 16px;
	line-height: 1.5;
	color: #777777;
}

/* Ben's notes 

Use sprites site wide.*/

/* Sprites */

.fit_image {
	width: 100%;
}

/*.logo:before {
	background: url(../images/icon_sprite.png);
	background-position: 0 0;
	content: '';
	display: block;
	float: left;
	height: 60px;
	overflow: hidden;
	width: 60px;
}
*/
.feature:before {
	background: url(../images/icon_sprite.png) no-repeat 0 0;
	content: '';
	display: block;
	height: 60px;
	margin: 0 20px 0 0;
	overflow: hidden;
	width: 60px;
}

.feature.tags:before {
	background-position: 0 -120px;
	height: 64px;
	width: 64px;
}

.feature.cloud:before {
	background-position: -80px -120px;
	height: 52px;
	width: 72px;
}

.feature.map:before {
	background-position: -160px -120px;
	height: 64px;
	width: 50px;
}


/* Helpers */

.fit_image {
	max-width: 100%;
}

@media screen and (min-width: 740px) {
		.intro h1 {
			font-size: 70px;
		}
}

/*-------------------------------------------
Mobile
-------------------------------------------*/
@media screen and (max-width: 500px) {
	.picticiousPro {
		text-align: center;
	}
	.downloadNowButton {
		margin: 0 0 0 40px;
	}
}

@media screen and (min-width: 500px) {
	.picticiousPro {
		
	}

}

/*-------------------------------------------
Tablet
-------------------------------------------*/
@media screen and (min-width: 740px) {

	.niceShotSection:before {
	background: url(../images/intro_phone.png) no-repeat center bottom;
	bottom: 0;
	content: '';
	display: block;
	float: right;
	height: 554px;
	width:322px;
	position: absolute;
	right: 150px;	
	padding-right: 170px; 
	top: 31px;

	}

	.featureSection:before {
		background: url(../images/icon_sprite.png) no-repeat;
		content: '';
		display: block;
		margin: 0 auto 20px;
		overflow: hidden;
	}

	.featureSection.tag:before {
		background-position: 0 -120px;
		height: 64px;
		width: 64px;
	}

	.featureSection.cloud:before {
		background-position: 80 -114px;
		height: 64px;
		width: 72px;
	}

	.featureSection.photo:before {
		background-position: -160px -120px;
		height: 64px;
		width: 50px;
	}
}
/*-------------------------------------------
Desktop
-------------------------------------------*/
@media screen and (min-width: 980px) {

}

/*-------------------------------------------
Desktop - Max
-------------------------------------------*/
@media screen and (min-width: 1220px) {

}
















